@import "fonts.scss";
@import "mixin.scss";
@import "variables.scss";
@import "reset.scss";

.burger {
   position: relative;
   min-width: 24px;
   height: 19px;
   cursor: pointer;

   @include mq(lg) {}

   @include mq(sm) {
      min-width: 15px;
      height: 12px;
   }

   &::before,
   &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #2E1B0E;
      ;
   }

   &::before {
      top: 0;
      left: 0;
   }

   &::after {
      bottom: 0;
      left: 0;
   }

   &__line-center {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #2E1B0E;
      top: 45%;
      left: 0;
   }

   &--js-active::before {
      transform: rotate(-45deg);
      top: 45%;
      background-color: #FD6342;
   }

   &--js-active::after {
      transform: rotate(45deg);
      bottom: 45%;
      background-color: #FD6342;

      @include mq (sm) {
         bottom: 42%;
      }
   }

   &--js-active &__line-center {
      transform: scale(0);
   }
}

.wrapper-content {
   position: relative;
   width: 100%;
   min-height: 100vw;
}

.content-inner {
   max-width: 1224px;
   width: 100%;
   margin: 0 auto;
   position: relative;
}

.header {
   width: 100%;
   height: 80px;
   position: fixed;
   background-color: #fff;
   padding: 17.5px 0px;
   z-index: 2003;
   left: 0;
   top: 0;

   &__inner {
      max-width: 1224px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;


   }

   &__items-left {
      max-width: 571px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mq (xxl) {
         max-width: calc(571px + (571 - 490) * ((100vw - 1280px) /(1500 - 1280)));
      }

      @include mq (xl) {
         max-width: 600px;
         width: 100%;

      }

      @include mq (lg) {
         max-width: 300px;
         width: 100%;
         justify-content: flex-start;
      }

   }

   &__items-right {
      max-width: 600px;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      @include mq (xl) {
         max-width: 270px;
         width: 100%;

      }


      @include mq (lg) {
         max-width: 0;
      }

   }

   &__address {
      display: flex;
      align-items: center;
      padding: 0px 18.5px 0px 26.5px;

      @include mq(xxl) {
         padding: 0px 20.5px 0px 15.5px;
      }

      @include mq (md) {
         display: none;
      }
   }

   &__address-text {
      margin: 0px 72px 0px 10px;

      @include mq(xxl) {
         margin-right: 72px;
      }

      @include mq(lg) {
         margin-right: calc(30px + (72 - 30) * ((100vw - 568px) /(768 - 568)));
      }


   }

   &__menu {
      width: 484px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-right: 32px;

      @include mq(xxl) {
         margin-right: calc(20px + (32 - 20) * ((100vw - 1024px) /(1280 - 1024)));
         padding-left: 5px;
         max-width: 100px;

      }

      @include mq (lg) {
         max-width: 400px;
         width: 100%;
         margin-right: 0px;
      }

      @include mq (md) {
         max-width: 150px;
      }



   }

   &__list-item-link {
      display: inline-block;
      display: flex;
      align-items: center;

   }

   @include mq (lg) {
      display: block;
   }


   &__basket {
      background: #FD6342;
      border-radius: 24px;
      padding: 12px 18px;
      text-decoration: none;
      display: flex;
      align-items: center;

      @include mq (lg) {
         display: none;
      }
   }

   &__basket-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #FFFFFF;
      margin-left: 13px;
   }
}

.address {
   height: 45px;
   text-decoration: none;

   &__text {
      min-width: 167px;
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #928F87;

   }
}

.logo {
   @include mq(sm) {
      width: 92px;
      height: 20px;
   }
}

.list {
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: center;

   @include mq (lg) {
      width: 100%;
      justify-content: end;
   }


   &__item {
      list-style: none;

      & {
         margin-right: calc(15px + (32 - 15) * ((100vw - 1024px) /(1280 - 1024)));

      }

      @include mq (xl) {
         margin-left: 0px;
         margin-right: 20px;
      }

      @include mq (lg) {
         margin-right: 10px;
      }

      &:last-child {
         display: none;

         @include mq(lg) {
            display: block;
         }

      }

      &:nth-child(3) {
         @include mq (sm) {
            display: none;
         }
      }

      @include mq (md) {
         margin: 0px 10px;
      }

      @include mq (sm) {
         width: 16px;
         height: 16px;
      }
   }

   &__item-icon path {
      fill: #000000;


   }

   &__item-icon {
      @include mq(sm) {
         width: 16px;
         height: 16px;
      }

   }

   &__item-link {
      text-decoration: none;
   }

   &__item-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      margin-left: 10px;

      @include mq (xl) {
         display: none;
      }

   }
}

.burger-menu {
   position: absolute;
   max-width: 480px;
   width: 100%;
   padding: 0px;
   background: #FFFFFF;
   border-radius: 16px;
   height: 0;
   min-height: 0;
   overflow: hidden;
   opacity: 0;
   left: 10px;
   top: 92px;

   @include mq (lg) {
      left: 5px;
      max-width: calc(270px + (480 - 270) *((100vw - 320px) /(768 - 320)));

   }



   &--js-toggle {
      height: auto;
      min-height: 20px;
      overflow: visible;
      opacity: 1;
      z-index: 50;
      padding: 24px;
      box-shadow: -1px 2px 23px rgba(0, 0, 0, 0.12);
   }

   &__inner {
      max-width: 432px;
      width: 100%;
   }

   &__menus {
      width: 100%;


   }

   &__menu {
      width: 100%;
      padding: 16px;

      &:first-child {
         background: #FFFFFF;
         border: 1px solid #D9D9D9;
         border-radius: 12px;
      }

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      &:not(:first-child) {
         background: #F5F5F6;
         border-radius: 12px;
      }
   }

   &__menu-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      &:nth-child(2) {
         margin-bottom: 16px;
      }
   }

   &__menu-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #928F87;

   }

   &__nav-list {
      width: 100%;

   }


   &__nav-list-item {
      &:not(:last-child) {
         margin-bottom: 8px;

      }
   }

   &__nav-item-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #2E1B0E;
   }
}

.burger-menu-input-w {
   width: 100%;
   position: relative;
   margin-bottom: 12px;
}

.input {
   max-width: 432px;
   width: 100%;
   height: 56px;
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   border-radius: 12px;
   outline: none;
   padding: 16px 24px;

   &::placeholder {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #787878;
   }

   &__search-link {
      position: absolute;
      right: 20px;
      top: 25%;
      transform: translateY(25%);
   }

   &__search-icon {}
}

.nav {

   &__list {
      list-style: none;
   }

   &__list-item {}

   &__item-link {
      text-decoration: none;
   }
}

.spoiler {
   cursor: pointer;

   &--js-open-list &__list {
      height: auto;
      min-height: 20px;
      overflow: visible;
      opacity: 1;
   }

   &__list {
      height: 0;
      min-height: 0;
      overflow: hidden;
      opacity: 0;

   }

   &--js-open-list &__arrow {
      transform: rotate(180deg);
   }

   &__arrow {
      cursor: pointer;
   }

   &__list-item-link {}

   &__profile {
      display: none;

      @include mq (sm) {
         display: block;
      }
   }
}

.address-menu {
   max-width: 323px;
   width: 100%;
   position: absolute;
   z-index: 300;
   top: 0px;
   left: 245px;
   background: #FFFFFF;
   box-shadow: 2px 2px 16px rgba(114, 114, 114, 0.16);
   border-radius: 16px;
   top: 92px;
   height: 0;
   min-height: 0;
   overflow: hidden;
   opacity: 0;

   @include mq (lg) {
      left: 170px;
   }

   @include mq (md) {
      left: 10px;
      top: 120px;
   }

   &--js-open {
      height: auto;
      min-height: 40px;
      overflow: visible;
      opacity: 1;
      padding: 20px;
   }

   &__nav-list {
      width: 100%;
   }

   &__nav-list-item {
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   &__add-address-item {
      margin-bottom: 16px;
   }

   &__add-address-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      display: flex;
      align-items: center;


   }

   &__add-address-svg {
      margin-left: 12px;
   }

   &__nav-item-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      display: flex;
      align-items: center;

      &--js-color-add {
         color: #FD6342;
      }

      &--js-color-add .address-menu__svg {
         display: block;
      }
   }

   &__svg {
      display: none;
      margin-left: 12px;

   }
}

.phones {
   position: absolute;
   max-width: 432px;
   width: 100%;
   z-index: 505;
   background: #FFFFFF;
   box-shadow: 2px 2px 10px rgba(151, 151, 151, 0.2);
   border-radius: 16px;
   top: 92px;
   right: 145px;
   height: 0;
   min-height: 0;
   overflow: hidden;
   opacity: 0;

   @include mq (lg) {
      right: 80px;
      max-width: calc(270px + (432 - 270) *((100vw - 320px) /(768 - 320)));
   }

   @include mq (md) {
      right: 10px;
      top: 50px;

   }

   &--js-open {
      height: auto;
      min-height: 40px;
      overflow: visible;
      opacity: 1;
      padding: 24px;

   }

   &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
   }

   &__items {
      display: flex;
      justify-content: space-between;

      @include mq (lg) {
         flex-direction: column;
      }

      &:not(:last-child) {
         margin-bottom: 12px;
      }

      &:last-child {
         flex-direction: column;
      }
   }

   &__item {
      background: #F5F5F6;
      border-radius: 12px;
      padding: 16px;

   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 12px;
   }

   &__phone {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      text-decoration: none;
   }

   &__address {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #928F87;
   }

   &__nav {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq (lg) {
         flex-direction: column;
      }
   }

   &__nav-list {
      width: 164;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }


   &__nav-list-item {
      width: 153px;

      &:not(:last-child) {
         margin-bottom: 8px;
      }

      width: 154px;
   }

   &__nav-item-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
   }

   &__nav-item-link--js-add-color {}
}

.shares {
   width: 100%;
   padding-top: 106px;
   padding-bottom: 17px;

   @include mq (md) {
      padding-top: 80px;
   }

   &__inner {
      max-width: 1224px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__address-w {
      width: 100%;
      display: flex;
   }

   &__address {
      display: none;
      padding: 10px 16px 10px 12px;
      margin-bottom: 12px;


      @include mq (md) {
         display: flex;
         align-items: center;
      }

      @include mq (sm) {
         padding: 10px 13.5;
         display: flex;
         align-items: center;
      }
   }

   &__address-text {
      font-size: 14px;
      margin: 0px 96px 0px 9px;

      @include mq (sm) {
         margin: 0px 70px 0px 9px;
      }
   }

   &__menu {
      margin-bottom: 16px;
   }

   &__nav-list {
      display: flex;
   }

   &__nav-list-item {
      &:not(:last-child) {
         margin-right: 40px;

         @include mq(lg) {
            margin-right: 20px;
         }
      }
   }

   &__nav-item-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      color: #928F87;

      @include mq(xl) {
         font-size: calc(18px + (32 - 18) *((100vw - 568px) /(1024 - 568)));
      }

      &:hover {
         color: #FD6342;
      }

      &--js-add-color {
         color: #2E1B0E;
      }
   }

   &__cards {
      width: 100%;
   }

   &__cards-slider {
      width: 100%;
      position: relative;
      z-index: 20;

      & .slick-slide {
         max-width: 300px;
         width: 100%;
         display: flex;
         justify-content: center;


      }

      & .slick-list {
         overflow: hidden;
      }

      /* Лента слайдов */
      & .slick-track {
         display: flex;
      }

      /* Стрелка */
      & .slick-arrow {
         position: absolute;
         top: 43%;
         z-index: 10;
         font-size: 0;
         max-width: 40px;
         max-height: 40px;
         border: none;
         outline: none;

         &.slick-disabled {
            opacity: 0;
         }

         @include mq(lg) {
            max-width: 25px;
            max-height: 25px;
            top: 52%;
            border-radius: 24px;
         }

      }

      /* Стрелка влево */
      & .slick-prev {
         width: 100%;
         height: 100%;
         transform: rotate(180deg);
         background: url(../images/arrow-right.png)40% 40% no-repeat;
         left: -15px;

         & {
            @include mq(xxl) {
               left: -13px;
            }

            @include mq(xl) {
               left: -15px;
            }
         }

         @include mq(lg) {
            background-position: 40% 45%;

         }
      }

      /* Стрелка вправо */
      & .slick-next {
         background: url(../images/arrow-right.png)40% 40% no-repeat;
         right: 50px;
         width: 100%;
         height: 100%;
         right: -13px;

         & {
            @include mq(xxl) {
               right: -15px;

            }

            @include mq(md) {}
         }

         @include mq(lg) {
            background-position: 45% 45%;

         }
      }



   }
}

.card {
   position: relative;
   max-width: 183px;
   width: 100%;
   height: 231px;
   border-radius: 32px;
   padding: 16px 8px 16px 16px;

   @include mq (xl) {
      max-width: 178px;
      width: 100%;
   }


   @include mq (md) {
      max-width: calc(96px + (178 - 96) *((100vw - 375px) /(576 - 375)));
      width: 100%;
      height: calc(122px + (230 - 122) *((100vw - 375px) /(576 - 375)));
      border-radius: 16px;
      padding: 8px 4px 8px 8px;


   }

   @include mq (sm) {
      max-width: calc(92px + (96 - 92) *((100vw - 320px) /(375 - 320)));
      width: 100%;
      height: calc(122px + (122 - 122) *((100vw - 375px) /(576 - 375)));
      border-radius: 16px;

   }

   &__easter-cake {
      background: #FDB7B3;
   }

   &__compote {
      background: #F1B747;
   }

   &__brusketta {
      background: url(../images/brusketta.png) no-repeat;
   }

   &__cake {
      background: #55361E;
   }

   &__lean {
      background: #ADB080;
   }

   &__lilac {
      background: #627693;
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #FFFFFF;

      @include mq(md) {
         font-size: calc(12px + (18 - 12) *((100vw - 320px) /(576 - 320)));
      }


   }

   &__img {
      max-width: 100%;
      background-size: cover;
      border-radius: 32px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;

      @include mq (md) {
         max-width: calc(75px + (140 - 75) *((100vw - 320px) /(576 - 320)));
         width: 100%;
         max-height: 111px;
         border-radius: 16px;
      }

      @include mq (sm) {}
   }

   &__img-cake {
      width: 100%;
   }

}

.products {
   width: 100%;
   padding-bottom: 120px;

   &__inner {
      max-width: 1224px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 24px;
   }

   &__checkbox {
      max-width: 1224px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
   }

   &__nav {
      width: 100%;
   }

   &__nav-list {
      display: flex;
      width: 100%;

      @include mq (xl) {
         justify-content: space-between;
      }
   }

   &__list-item {
      padding: 10px 20px;
      background: #FBFBFB;
      border-radius: 24px;

      &--js-active {
         background-color: #EEEEEE;
      }

      &:not(:last-child) {
         margin-right: 12px;

         @include mq (xl) {
            margin-right: 0px;
         }
      }

      &:last-child {
         @include mq (xxl) {
            display: none;
         }
      }

      &:nth-child(5) {
         @include mq (xl) {
            display: none;
         }
      }

      &:nth-child(4) {
         @include mq (lg) {
            display: none;
         }
      }

      &:nth-child(3) {
         @include mq (md) {
            display: none;
         }
      }

      @include mq (xl) {
         padding: 10px;
      }


   }

   &__list-item-link {
      display: flex;
      align-items: flex-start;
   }

   &__list-item-img {
      @include mq (md) {
         width: 16px;
         height: 16px;
      }
   }

   &__list-item-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      margin-left: 8px;

      @include mq (md) {
         font-size: calc(12px + (16 - 12) *((100vw - 375px) /(576 - 375)));
      }
   }

   &__dropdown-item {
      width: 96px;
      height: 44px;
      padding: 10px 20px;
      gap: 8px;
      background: #FBFBFB;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      text-decoration: none;
      position: relative;
      cursor: pointer;

      @include mq (md) {
         padding: 10px;
         font-size: 14px;
         width: 80px;
         height: 30px;
      }

      @include mq (sm) {
         display: none;
      }
   }


   &__droppdown-item-menu {
      position: absolute;
      width: 214px;
      width: 100%;
      height: 0;
      min-height: 0;
      overflow: hidden;
      opacity: 0;
      top: 40px;
      left: -119px;
   }

   &__droppdown-nav-list-menu {
      width: 100%;
      width: 214px;
      height: 0;

   }

   &__droppdown-list-item {
      max-width: 214px;
      width: 100%;
      margin-bottom: 6px;
      padding: 10px;


      &:hover {
         background-color: #928F87;
         transition: all 0.3s ease;
      }

   }

   &__droppdown-list-item-link {
      display: inline-block;
      width: 100%;
      display: flex;
   }

   &__list-item-img {}

   &__list-item-name {}


   &__menu {
      width: 100%;
   }

   &__popular-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 24px;
   }

   &__cold-snacks-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 24px;
   }

   &__popular {
      margin-bottom: 60px;

      @include mq(lg) {
         display: flex;
         justify-content: space-around;
      }

      @include mq(sm) {
         margin-bottom: 32px;
         justify-content: space-between
      }
   }

   &__cold-snacks {
      @include mq(lg) {
         display: flex;
         justify-content: space-around;
      }

      @include mq(sm) {
         justify-content: space-between;
      }
   }

   &__list {
      display: flex;
      justify-content: space-between;

      @include mq(lg) {
         flex-direction: column;
         justify-content: start;
      }

      &:not(:last-child) {
         margin-bottom: 32px;

         @include mq(lg) {
            margin-bottom: 0px;
         }
      }


   }
}


.salads {
   display: none;

   @include mq(md) {
      display: block;
   }
}

.first-meal {
   display: none;

   @include mq(lg) {
      display: block;
   }
}

.side-dishes {
   display: none;

   @include mq(xl) {
      display: block;
   }
}

.main-courses {
   display: none;

   @include mq(xxl) {
      display: block;
   }
}



.product {
   max-width: 286px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;

   @include mq (xxl) {
      max-width: calc(265px + (286 - 265) *((100vw - 1280px) /(1280 - 1024)));
      height: calc(415px + (430 - 415) *((100vw - 1280px) /(1500 - 1024)));
   }

   @include mq (xl) {
      max-width: calc(160px + (220 - 160) *((100vw - 768px) /(1024 - 768)));
      height: calc(370px + (410 - 370) *((100vw - 768px) /(1024 - 768)));
   }

   @include mq (lg) {
      max-width: calc(160px + (300 - 160) * ((100vw - 375px) / (768 - 375)));
      height: calc(260px + (370 - 260) *((100vw - 375px) /(768 - 375)));
      margin-bottom: 18px;
   }

   &__img-w {
      position: relative;
      max-width: 286px;
      height: 250px;
      width: 100%;
      margin-bottom: 12px;

      @include mq (xxl) {
         height: calc(180px + (250 - 180) *((100vw - 768px) / (1280 - 768)))
      }

      @include mq (lg) {
         height: 240px;
      }

      @include mq (sm) {
         height: 124px;
         margin-bottom: 4px;
      }
   }

   &__img {
      width: 100%;
      background-size: cover;
      height: 100%;
      border-radius: 16px 16px 0px 0px;
   }

   &__bookmark {
      left: 16px;
      top: 16px;
      position: absolute;

      @include mq (xl) {
         top: 12px;
         left: 12px;
      }
   }

   &__label {
      position: absolute;
      padding: 5px 8px;
      border-radius: 12px;
      bottom: 16px;
      left: 16px;

      @include mq (xl) {
         bottom: 10px;
         left: 10px;
      }

      @include mq (lg) {
         bottom: 8px;
         left: 8px;
      }

      @include mq (md) {}

      @include mq (sm) {
         padding: 4px 6px;
      }


      &--background-grey {
         background: #576987;
      }

      &--background-orange {
         background: #E0A110;
      }

      &--novelties {
         background: #971B40;
      }
   }

   &__label-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #FFFFFF;

      @include mq (lg) {
         font-size: 12px;
      }

      @include mq (md) {
         font-size: 10px;
      }

      @include mq (md) {
         font-size: 8px;
      }
   }

   &__description {
      width: 100%;
      max-width: 262px;
      margin-bottom: 16px;

      @include mq (xxl) {}

      @include mq (lg) {
         max-width: 240px;
         margin: 0;
         width: 100%;
         height: 60px;
      }

      @include mq (sm) {
         max-width: 130px;
         width: 100%;
      }
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      line-height: 150%;
      font-size: 16px;
      color: #2E1B0E;
      margin-bottom: 8px;

      @include mq (md) {
         font-size: 14px;
         line-height: 120%;
      }

   }

   &__text {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #928F87;
      height: 60px;

      @include mq (xl) {
         font-size: 12px;
      }

      @include mq (lg) {
         display: none;
      }
   }

   &__items-bottom {
      max-width: 262px;
      width: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq (sm) {
         max-width: 130px;
         width: 100%;
      }

   }

   &__price-w {
      display: flex;
      align-items: flex-end;

      @include mq (xl) {
         flex-direction: column-reverse;
         align-items: flex-start;
      }
   }

   &__price {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #2E1B0E;

      @include mq (sm) {
         font-size: 18px;

         &--color-orange {
            color: $colorItems;
         }
      }
   }

   &__gram {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #928F87;
      margin-left: 4px;

      @include mq (xl) {
         margin: 0;
      }

      @include mq (sm) {
         font-size: 12px;
      }
   }

   &__button {
      padding: 12px 18px;
      background: #FD6342;
      border-radius: 24px;
      display: flex;
      align-items: center;
      text-decoration: none;

      @include mq (lg) {
         padding: 11px;
      }

      @include mq (sm) {
         padding: 10px;
      }

   }

   &__button-icon {
      margin-right: 12px;

      @include mq (xl) {
         margin: 0;
      }
   }

   &__button-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #FFFFFF;

      @include mq (xl) {
         display: none;
      }
   }
}

.footer {
   width: 100%;
   padding: 32px 0px 18px 0px;

   @include mq (md) {
      position: fixed;
      background: #FFFFFF;
      box-shadow: 2px 2px 16px rgba(114, 114, 114, 0.16);
      bottom: 0;
      left: 0;
      padding: 0;
   }

   &__inner {
      max-width: 1225px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq (md) {
         display: none;

      }
   }

   &__menu {
      max-width: 207px;
      width: 100%;
      height: 254px;

      @include mq (xxl) {
         margin-right: 12px;
      }


      &:nth-child(2) {

         @include mq (xl) {
            display: none;
         }
      }

      &:nth-child(1) {

         @include mq (lg) {
            display: none;
         }
      }

      &:last-child {
         display: flex;
         flex-direction: column;
         align-items: flex-end;


      }
   }

   &__menu-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 16px;
   }

   &__menu-nav-list {}

   &__menu-nav-list-item {
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   &__menu-item-link {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #928F87;
   }

   &__schedule-nav-list {
      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }

   &__schedule-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      margin-bottom: 8px;
   }

   &__schedule-days {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
   }

   &__schedule-time {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #928F87;
   }

   &__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq (lg) {
         flex-direction: column;
         justify-content: center;
         align-items: center;

      }

      @include mq (md) {
         display: none;

      }
   }

   &__copyright {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #928F87;
   }

   &__developed {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #928F87;
   }

   &__contact-nav-list-item {
      text-align: end;
   }

   &__fixed {
      width: 100%;
      display: none;

      @include mq (md) {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 8px 0px;
      }
   }

   &__fixed-description {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #928F87;
      margin-bottom: 8px;

      @include mq (sm) {
         font-size: calc(12px + (18 - 12) *((100vw - 320px) /(375 - 320)));
      }
   }

   &__fixed-button {
      max-width: 450px;
      width: 100%;
      display: inline-block;
      padding: 20px 40px;
      text-decoration: none;
      background-color: $colorItems;
      text-align: center;
      border-radius: 18px;


   }

   &__fixed-button-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #FFFFFF;

      @include mq (sm) {
         font-size: calc(14px + (20 - 14) *((100vw - 320px) /(375 - 320)));
      }


   }
}

.popup-location-w {
   position: absolute;
   width: 100%;
   background: rgba(0, 0, 0, 0.3);
   z-index: 301;
   top: 0;
   left: 0;
   height: 0;
   min-height: 0;
   overflow: hidden;
   opacity: 0;

   &--js-open {
      height: 100%;
      min-height: 40px;
      overflow: visible;
      opacity: 1;
      display: flex;
      justify-content: center;
      transition: all 0.2s ease-in;
   }
}

.popup-location {
   position: absolute;
   max-width: 767px;
   height: 578px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   top: 351px;

   @include mq (xl) {
      max-width: 650px;
      width: 100%;
   }

   @include mq (lg) {
      max-width: 500px;
      width: 100%;
   }

   @include mq (md) {
      max-width: 350px;
      width: 100%;
      height: 400px;
   }

   &__location {
      max-width: 731px;
      width: 100%;
      height: 100%;
      padding: 24px;
      border-radius: 24px;
      background: #FFFFFF;

   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 32px;

      @include mq (lg) {
         font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (768 - 320)));
      }
   }

   &__search {
      width: 100%;
      display: flex;
      margin-bottom: 12px;
      align-items: center;
   }

   &__input {
      width: 100%;
      margin-right: 8px;
      padding: 14px 24px;
      background: #F8F8F8;
      border-radius: 12px;
      outline: none;
      border: none;

      &::placeholder {
         font-family: 'Manrope', sans-serif;
         font-weight: 500;
         font-size: 14px;
         line-height: 120%;
         color: #928F87;
      }
   }

   &__button {
      width: 136px;
      height: 43px;
      padding: 12px 43.5px;
      background: $colorItems;
      border-radius: 12px;
      text-decoration: none;

      @include mq (lg) {
         max-width: calc(70px + (136 - 70) * ((100vw - 320px) / (768 - 320)));
         width: 100%;
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 30px;
      }
   }

   &__button-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      align-items: center;
      color: #FFFFFF;
   }

   &__map {
      width: 100%;
      height: 405px;

      @include mq (md) {
         height: 200px;
      }
   }

   &__close {
      width: 16px;
      height: 16px;
      margin-top: 4px;
   }
}

.popup-cards {
   position: absolute;
   width: 100%;
   z-index: 507;
   height: 0;
   min-height: 0;
   overflow: hidden;
   opacity: 0;

   &--js-open {
      display: flex;
      justify-content: center;
      height: 100%;
      min-height: 40px;
      overflow: visible;
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
   }

   &__inner {
      position: absolute;
      max-width: 603px;
      width: 100%;
      margin: 0 auto;
      top: 264px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__slider {
      max-width: 445px;
      width: 100%;
      overflow: hidden;
      height: 701px;


   }

   &__slider-list {
      width: 2670px;
      position: relative;
      display: flex;
   }

   &__arrow-prev {
      width: 74px;
      height: 74px;
      display: inline-block;
   }



   &__arrow-next {
      width: 74px;
      height: 74px;
      display: inline-block;
   }
}

.popup-card {
   position: relative;
   width: 100%;
   height: 701px;
   padding: 33px 32px 23px 32px;
   border-radius: 32.9697px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   &__close {
      position: absolute;
      top: 20px;
      right: 20px;
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 49.4546px;
      line-height: 120%;
      color: #FFFFFF;
      margin-bottom: 13px;


   }

   &__text {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 23.0788px;
      line-height: 150%;
      color: #FFFFFF;


   }

   &__img {
      position: absolute;
      max-width: 400px;
      width: 100%;
      height: 380px;
      bottom: 0;
      right: 0;
      border-radius: 32.9697px;
   }

   &__brusketta {
      width: 100%;
      height: 701px;
      background: url(../images/brusketta.png) no-repeat;
      background-size: cover;
   }

   &__button {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 6.59395px 9.89092px;
      background: #FFFFFF;
      box-shadow: 0.824244px 0.824244px 6.59395px rgba(104, 104, 104, 0.1);
      border-radius: 49.4546px;
      z-index: 1;
      text-decoration: none;
      text-align: center;

   }

   &__button-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 16.4849px;
      line-height: 120%;
      color: #000000;

   }

}

.popup-product {
   width: 100%;
   position: absolute;
   background: rgba(0, 0, 0, 0.3);
   top: 0;
   left: 0;
   z-index: 300;
   min-height: 100%;
   display: none;

   &--js-open {
      display: block;
   }

   &__inner {
      position: relative;
      max-width: 797px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      padding: 0 15px;
      justify-content: space-between;
      top: 294px;
   }

   &__content {
      max-width: 731px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 1px 2px 15px rgba(125, 125, 125, 0.15);
      border-radius: 24px;
      display: flex;
      padding: 16px;
   }

   &__img-w {
      position: relative;
      max-width: 320px;
      width: 100%;
      height: 320px;

   }

   &__img {
      max-width: 320px;
      height: 320px;
   }


   &__description {
      max-width: 363px;
      width: 100%;
      margin-left: 16px;
   }

   &__desctiption-top {
      margin-bottom: 18px;
      position: relative;
   }

   &__info {
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 0;

      &--js-toggle &-dropdown {
         display: block;
      }
   }

   &__close {
      display: inline-block;
      width: 24px;
      height: 24px;
   }

   &__info-dropdown {
      position: absolute;
      width: 240px;
      background: #F5F5F6;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 12px;
      right: 0;
      display: none;

   }

   &__info-text {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #2E1B0E;
      margin-bottom: 8px;
   }

   &__text {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #928F87;
   }

   &__desctiption-middle {}

   &__add-product-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      margin-bottom: 8px;
   }

   &__products {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
   }

   &__product {
      position: relative;
      max-width: 113px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FFFFFF;
      cursor: pointer;


      &--js-toggle {
         border: 2px solid #FD6342;
         box-shadow: 2px 2px 16px rgba(114, 114, 114, 0.16);
         border-radius: 12px;

      }

      &--js-img-scale &-img {
         transition: all 0.3s;
         transform: scale(1.06);
      }

      &--js-toggle &-check-mark {
         display: block;
      }

      &--js-toggle &-title {
         color: #FD6342;
      }

   }



   &__product-check-mark {
      position: absolute;
      top: 6px;
      right: 5px;
      z-index: 7;
      display: none;

   }

   &__product-img {
      margin-bottom: 6px;
      max-width: 100%;
   }

   &__product-description {}

   &__product-title {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #928F87;
      text-align: center;
      margin-bottom: 2px;

   }

   &__product-price {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
      text-align: center;

   }

   &__desctiption-bottom {
      width: 100%;
   }

   &__price-basket {
      width: 100%;
      display: flex;
      justify-content: space-between;
   }

   &__price-w {
      display: flex;
      align-items: flex-end;
   }

   &__price {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 120%;
      color: #2E1B0E;
   }

   &__gram {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #928F87;
   }
}

.description-product-img {}

.additional-information {
   width: 100%;
   background: #F5F5F6;
   border-radius: 16px;
   padding: 24px;
   margin-bottom: 24px;

   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
   }

   &__title {
      font-family: 'Manrope', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2E1B0E;
   }

   &__menu-nav-list {
      width: 100%;
   }

   &__menu-nav-list-item {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 150%;
      color: #2E1B0E;
      display: inline-block;
   }


   &__description-grey {
      color: #928F87;
   }
}