@charset "UTF-8";
/* manrope-regular - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v13-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-regular.svg#Manrope") format("svg");
  /* Legacy iOS */
}
/* manrope-500 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v13-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-500.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-500.svg#Manrope") format("svg");
  /* Legacy iOS */
}
/* manrope-600 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v13-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-600.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-600.svg#Manrope") format("svg");
  /* Legacy iOS */
}
/* manrope-700 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v13-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-700.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-700.svg#Manrope") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.burger {
  position: relative;
  min-width: 24px;
  height: 19px;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2E1B0E;
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}
.burger__line-center {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2E1B0E;
  top: 45%;
  left: 0;
}
.burger--js-active::before {
  transform: rotate(-315deg);
  top: 48%;
  transition: all 0.2s linear;
}
.burger--js-active::after {
  transform: rotate(315deg);
  bottom: 45%;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 373px) {
  .burger--js-active::after {
    bottom: 42%;
  }
}
.burger--js-active .burger__line-center {
  transform: scale(0);
}

.wrapper-content {
  width: 100%;
  min-height: 100vw;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  padding: 17.5px 0px;
  z-index: 200;
}
.header__inner {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.header__items-left {
  max-width: 571px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1278px) {
  .header__items-left {
    max-width: calc(571px + 81 * (100vw - 1280px) / 220);
  }
}
@media only screen and (max-width: 1022px) {
  .header__items-left {
    max-width: 600px;
    width: 100%;
  }
}
@media only screen and (max-width: 766px) {
  .header__items-left {
    max-width: 300px;
    width: 100%;
    justify-content: flex-start;
  }
}
.header__items-right {
  max-width: 574px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1022px) {
  .header__items-right {
    max-width: 270px;
    width: 100%;
  }
}
@media only screen and (max-width: 766px) {
  .header__items-right {
    width: 100%;
  }
}
.header__address {
  display: flex;
  align-items: center;
  padding: 0px 18.5px 0px 26.5px;
}
@media only screen and (max-width: 1278px) {
  .header__address {
    padding: 0px 20.5px 0px 15.5px;
  }
}
@media only screen and (max-width: 766px) {
  .header__address {
    display: none;
  }
}
@media only screen and (max-width: 1278px) {
  .header__address-text {
    margin-right: 60px;
  }
}
@media only screen and (max-width: 1278px) {
  .header__address-text {
    margin-right: 72px;
  }
}
.header__menu {
  width: 484px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 32px;
}
@media only screen and (max-width: 1022px) {
  .header__menu {
    padding-left: 5px;
    max-width: 100px;
  }
}
@media only screen and (max-width: 766px) {
  .header__menu {
    max-width: 400px;
    width: 100%;
    margin-right: 37px;
  }
}
@media only screen and (max-width: 574px) {
  .header__menu {
    max-width: 150px;
    margin-right: 0px;
  }
}
.header__list-item-link {
  display: inline-block;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 766px) {
  .header {
    display: block;
  }
}
.header__basket {
  background: #FD6342;
  border-radius: 24px;
  padding: 12px 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 574px) {
  .header__basket {
    display: none;
  }
}
.header__basket-name {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 13px;
}

.address {
  height: 45px;
  text-decoration: none;
}
.address__text {
  min-width: 167px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #928F87;
  margin: 0px 72px 0px 10px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item {
  list-style: none;
}
.list__item:last-child {
  display: none;
}
@media only screen and (max-width: 574px) {
  .list__item:last-child {
    display: block;
  }
}
.list__item-icon path {
  fill: #000000;
}
.list__item-link {
  text-decoration: none;
}
.list__item-name {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2E1B0E;
  margin-left: 10px;
}
@media only screen and (max-width: 1022px) {
  .list__item-name {
    display: none;
  }
}

.burger-menu {
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}
.burger-menu__inner {
  max-width: 432px;
  width: 100%;
}
.burger-menu__menus {
  width: 100%;
}
.burger-menu__menu {
  width: 100%;
  padding: 16px;
}
.burger-menu__menu:first-child {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
}
.burger-menu__menu:not(:last-child) {
  margin-bottom: 12px;
}
.burger-menu__menu:not(:first-child) {
  background: #F5F5F6;
  border-radius: 12px;
}
.burger-menu__menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.burger-menu__menu-items:nth-child(2) {
  margin-bottom: 16px;
}
.burger-menu__menu-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #928F87;
}
.burger-menu__nav-list {
  width: 100%;
}
.burger-menu__nav-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.burger-menu__nav-item-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2E1B0E;
}

.burger-menu-input-w {
  position: relative;
  margin-bottom: 12px;
}

.input {
  width: 432px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  outline: none;
  padding: 16px 24px;
}
.input::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #787878;
}
.input:-ms-input-placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #787878;
}
.input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #787878;
}
.input__search-link {
  position: absolute;
  right: 20px;
  top: 25%;
  transform: translateY(25%);
}
.nav__list {
  list-style: none;
}
.nav__item-link {
  text-decoration: none;
}

.spoiler {
  cursor: pointer;
}
.spoiler--js-open-list .spoiler__list {
  height: auto;
  min-height: 20px;
  overflow: visible;
  opacity: 1;
}
.spoiler__list {
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
}
.spoiler__arrow {
  cursor: pointer;
}
.spoiler__arrow--js-open-list {
  transform: rotate(180deg);
}

.shares {
  width: 100%;
  padding-top: 106px;
}
.shares__inner {
  max-width: 1224px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.shares__address-w {
  width: 100%;
  display: flex;
  justify-content: center;
}
.shares__address {
  display: none;
  padding: 10px 16px 10px 12px;
}
@media only screen and (max-width: 373px) {
  .shares__address {
    display: flex;
    align-items: center;
  }
}
.shares__address-text {
  margin-right: 96px;
}
.shares__menu {
  margin-bottom: 16px;
}
.shares__nav-list {
  display: flex;
}
.shares__nav-list-item:not(:last-child) {
  margin-right: 40px;
}
@media only screen and (max-width: 766px) {
  .shares__nav-list-item:not(:last-child) {
    margin-right: 20px;
  }
}
.shares__nav-item-link {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #928F87;
}
@media only screen and (max-width: 1022px) {
  .shares__nav-item-link {
    font-size: calc(18px + 14 * (100vw - 568px) / 456);
  }
}
.shares__nav-item-link:hover {
  color: #FD6342;
}
.shares__nav-item-link--js-add-color {
  color: #2E1B0E;
}
.shares__cards {
  width: 100%;
}
.shares__cards-slider {
  width: 100%;
  position: relative;
  /* Лента слайдов */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}
.shares__cards-slider .slick-slide {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shares__cards-slider .slick-list {
  overflow: hidden;
}
.shares__cards-slider .slick-track {
  display: flex;
}
.shares__cards-slider .slick-arrow {
  position: absolute;
  top: 43%;
  z-index: 10;
  font-size: 0;
  max-width: 40px;
  max-height: 40px;
  border: none;
  outline: none;
}
.shares__cards-slider .slick-arrow.slick-disabled {
  opacity: 0;
}
@media only screen and (max-width: 766px) {
  .shares__cards-slider .slick-arrow {
    max-width: 25px;
    max-height: 25px;
    top: 52%;
    border-radius: 24px;
  }
}
.shares__cards-slider .slick-prev {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  background: url(../images/arrow-right.png) 40% 40% no-repeat;
  left: -15px;
}
@media only screen and (max-width: 1278px) {
  .shares__cards-slider .slick-prev {
    left: -13px;
  }
}
@media only screen and (max-width: 1022px) {
  .shares__cards-slider .slick-prev {
    left: -15px;
  }
}
@media only screen and (max-width: 766px) {
  .shares__cards-slider .slick-prev {
    background-position: 40% 45%;
  }
}
.shares__cards-slider .slick-next {
  background: url(../images/arrow-right.png) 40% 40% no-repeat;
  right: 50px;
  width: 100%;
  height: 100%;
  right: -13px;
}
@media only screen and (max-width: 1278px) {
  .shares__cards-slider .slick-next {
    right: -15px;
  }
}
@media only screen and (max-width: 766px) {
  .shares__cards-slider .slick-next {
    background-position: 45% 45%;
  }
}

.card {
  position: relative;
  max-width: 183px;
  width: 100%;
  height: 231px;
  border-radius: 32px;
  padding: 16px 8px 16px 16px;
}
@media only screen and (max-width: 1022px) {
  .card {
    max-width: 178px;
    width: 100%;
  }
}
@media only screen and (max-width: 574px) {
  .card {
    max-width: calc(96px + 82 * (100vw - 375px) / 201);
    width: 100%;
    height: calc(122px + 108 * (100vw - 375px) / 201);
    border-radius: 16px;
    padding: 8px 4px 8px 8px;
  }
}
@media only screen and (max-width: 373px) {
  .card {
    max-width: calc(96px + 0 * (100vw - 375px) / 201);
    width: 100%;
    height: calc(122px + 0 * (100vw - 375px) / 201);
    border-radius: 16px;
  }
}
.card__easter-cake {
  background: #FDB7B3;
}
.card__compote {
  background: #F1B747;
}
.card__brusketta {
  background: url(../images/brusketta.png) no-repeat;
}
.card__cake {
  background: #55361E;
}
.card__lean {
  background: #ADB080;
}
.card__lilac {
  background: #627693;
}
.card__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
@media only screen and (max-width: 574px) {
  .card__title {
    font-size: calc(12px + 6 * (100vw - 320px) / 256);
  }
}
.card__img {
  max-width: 100%;
  background-size: cover;
  border-radius: 32px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 574px) {
  .card__img {
    max-width: calc(75px + 65 * (100vw - 320px) / 256);
    width: 100%;
    max-height: 111px;
    border-radius: 16px;
  }
}
.card__img-cake {
  width: 100%;
}

.products {
  width: 100%;
}
.products__inner {
  max-width: 1224px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.products__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #2E1B0E;
  margin-bottom: 24px;
}
.products__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products__nav-list {
  display: flex;
  max-width: 1120px;
  width: 100%;
}
.products__list-item {
  padding: 10px 20px;
  background: #FBFBFB;
  border-radius: 24px;
}
.products__list-item:not(:last-child) {
  margin-right: 12px;
}
.products__list-item-link {
  display: flex;
  align-items: center;
}
.products__list-item-name {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2E1B0E;
  margin-left: 8px;
}
.products__dropdown-item {
  width: 96px;
  height: 44px;
  padding: 10px 20px;
  gap: 8px;
  background: #FBFBFB;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2E1B0E;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.products__droppdown-item-menu {
  position: absolute;
  width: 214px;
  width: 100%;
  height: 0;
  min-height: 0;
  overflow: hidden;
  opacity: 0;
  top: 10px;
  left: -130px;
}
.products__droppdown-nav-list-menu {
  width: 100%;
  width: 214px;
}
.products__droppdown-list-item {
  max-width: 214px;
  width: 100%;
  margin-bottom: 6px;
  padding: 10px;
}
.products__droppdown-list-item:hover {
  background-color: #928F87;
  transition: all 0.3s ease;
}
.products__droppdown-list-item-link {
  display: inline-block;
  width: 100%;
  display: flex;
}/*# sourceMappingURL=styles.css.map */